<section class="">
  <nav class="navbar fixed top0 left0 right0 bb">
    <div class="mx5 mx7-sm mx9-md w100">
     <div class="navbar-brand w100px pb2">
      <img src="icon/Logo.png" alt="" class="w70">
     </div>

     <div class="ms-self">
      <p data-bs-toggle="offcanvas" data-bs-target="#menu" class="">toggle</p>

      <div class="offcanvas offcanvas-end left0 right0 w100 w-inherit top0" id="menu">
        <div class="navbar-nav">
          <div class="nav-item">
            Browse recipes
          </div>
        </div>
      </div>
     </div>
    </div>
  </nav>
</section>

